<div class="row">
  <div class="col-12">
    <h1 class="text-success my-5" >Detalle Usuario</h1>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mb-4 text-center">
    <img class="dsc-user-img" src="{{currentUser.avatar}}" alt="">
  </div>
    <div class="col-12 col-md-6 col-xl-9 pl-4">
      <h2 class="text-primary border-bottom pb-3">{{currentUser.name}}</h2>
      <h3 class="text-secondary">Edad: {{currentUser.age}}</h3>
      <h3 class="text-secondary border-bottom pb-3" *ngIf="currentUser.work">Puesto: {{currentUser.work}}</h3>
      <p>{{currentUser.description}}</p>
    </div>


</div>
