<div class="dsc-left-nav-brand">
  <fa-icon [icon]="faBars" class="dsc-left-nav-brand__menu" (click)="showMenu.emit()"></fa-icon>
      <div class="dsc-left-nav-brand__logo">
          <img [src]="logo" alt="desingicode-logo">
          <span>EMPRESA</span>
      </div>
</div>
<div class="dsc-left-nav-user">
  <div class="dsc-left-nav-user__avatar"  [ngStyle]="{'background-image':'url('+avatar+')'}" ></div>
  <h4 class="dsc-left-nav-user__name">{{name}}</h4>
  <h6 class="dsc-left-nav-user__position">{{position}}</h6>
</div>
<ng-container *ngFor="let menu of menus">
<app-left-nav-menu [data]="menu" ></app-left-nav-menu>
</ng-container>
