<section class="dsc-{{$theme}} {{showLeftNav ? ' dsc-main-container': ' dsc-main-container-full' }}">
  <app-header  class="dsc-header" (showMenu)= "showMenu()" ></app-header>
  <app-left-nav class="dsc-left-nav" *ngIf="showLeftNav" (showMenu)="showMenu()"></app-left-nav>
  <main class="dsc-main-content">
    <router-outlet></router-outlet>
  </main>
  <app-footer class="dsc-footer"></app-footer>
</section>


<!-- <app-navigation></app-navigation>
<div class="container-fluid dsc-skeleton-content">

</div>
<app-footer></app-footer> -->
